# Pipfile
[packages]
flask = "~=3.0.0"
flask-sqlalchemy = "~=3.1.1"
flask-cors = "~=4.0.0"
flask-bcrypt = "~=1.0.1"
flask-migrate = "~=4.0.5"
python-dotenv = "~=1.0.0"
PyJWT = "~=2.8.0"
psycopg2-binary = "~=2.9.9"  
mysqlclient = "~=2.2.0"     
qrcode = "~=7.4.2"          
Pillow = "~=10.1.0"         
python-dateutil = "~=2.8.2" 

[dev-packages]
pytest = "~=7.4.3"
pytest-flask = "~=1.2.0"
requests = "~=2.31.0"

[requires]
python_version = "3.9"